@font-face {
    font-family: 'notosans-regular';
    src: url('../assets/fonts/notosans-regular.2cb88a13.woff2') format('opentype');
}

body {
    margin: 0px;
    padding: 0px;
    font-family: notosans-regular;
}
.header {
    box-sizing: border-box; 
    position: sticky; 
    top: 0px; 
    min-height: 50px;
    z-index: 5050;
    height: 50px;
    width: 100%;
    border-color: #dee0e1!important;
    border-bottom-style: solid;
    border-width: 1px;
    box-shadow: 0 3px 6px rgb(0 0 0 / 4%);
    background-color: #fff;
    border-top: 3px solid #f48225 !important;
}
.header-container {
    box-sizing: border-box; 
    max-width: 1260px; 
    margin-left: auto; 
    margin-right: auto;
    display: flex;
    height: 100%;
   justify-content: space-between;
}
.header-left {
    display: flex;
    align-items: center;
}
.header-container a img{
    max-height: 20px;
    margin: auto;
    
}
.header-container a {
    display: flex;
    align-items: center;
    margin-right: 10px;
    
}
.icon-home {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.icon-home:hover {
    background-color: rgb(196, 205, 212);
}
.header-container i {
    font-size: 30px;
    margin: 0 auto;
}


.header-right {
    display: flex;
    align-items: center;
}
.header-right i {
    margin: 10px;
}
.header-right-avatar {
    border-radius: 50%;
    background-image: url('../assets/image/Sprites.64af8f61.svg');
    background-repeat: no-repeat;
    background-position: -352px -894px;
    margin-right: 6px;
    width: 32px;
    height: 32px;
    min-width: 32px;
    min-height: 32px;
    margin-right: 10px;
}
.btn-ask {
    padding: 0px 20px;
    transition-property: box-shadow, background-color;
    transition-duration: 60ms;
    transition-timing-function: ease-out;
    height: 30px;
    min-width: 30px;
    position: relative;
    border-width: 0px;
    outline: none;
    background-color: #0a95ff;
    color: rgb(247, 247, 247);
    border-radius: 5px;
}
.input-search {
    border: 1px solid #dee0e1!important;
    border-radius: 3px;
    height: 32px;
    display: flex;
    align-items: center;
    width: 320px;
}
.input-search input {
    border: none;
    outline: none;
}
.icon-search {
    margin-left: 8px;
    margin-right: 8px;
    width: 16px;
    height: 16px;
    min-width: 16px;
    min-height: 16px;
    background: url('../assets//image/Sprites.64af8f61.svg') no-repeat -992px -360px;
}
/**
container
**/
.container {
    
    max-width: 1350px;
    width: 100%;
    background: none;
    display: flex;
    
    margin: 0 auto;
    /* background-color: rgb(211, 236, 236); */
    position: relative;
    flex: 1 0 auto;
    /* top: 50px;    */
}

.content {
    flex: 1;
    display: flex;
    padding: 24px;
    border-left: 1px solid #b6b0b0;
    padding-right: 0px;
}

.left-sidebar {
    width: 164px;
    flex-shrink: 0;
    z-index: 1000;
    box-shadow: 0 0 0 hsl(210deg 8% 5% / 5%);
    transition: box-shadow ease-in-out .1s,transform ease-in-out .1s;
    transform: translateZ(0);
    position: relative !important;
    /* height: 100%; */
    
}

.sidebar {
    float: right;
    width: 300px;
    margin: 0 0 15px;
}
.mainbar {
    flex: 1;
}


/**
sldebar
**/

.left-sidebar .nav-links {
    padding: 0;
    margin: 0 0 12px;
    list-style: none;
    position: sticky;
    top: 50px;
    margin-top: 20px;
}
.left-sidebar li {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    padding-left: 10px;
    color: #6a737c;
}
.left-sidebar a {
    font-weight: bold;
    background: var(--black-050);
    color: var(--black-900);
    display: block;
    padding: 4px;
    padding-left: 30px;
    line-height: 2;
    font-size: 13px;
    padding-left: 8px !important;
    user-select: auto;
    text-decoration: none;
}
.background-grep {
    background-color: hsl(210deg 8% 95%);
    font-weight: bold;
    border-right: 3px solid #ad6d18;
    color: #0c0d0e !important;
}
a {
    text-decoration: none;
}


/**
main bar
**/
h1 {
    padding: 0px;
    margin: 0px;
}
.mainbar-title {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    box-sizing: border-box;
}
h1 {
    font-weight: 100;
}
.flex-item {
    display: flex !important;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-bottom: 16px;
}





.flex-item-filter {
    padding: 10px;
    border: 1px solid hsl(210,8%,65%);;
    border-left: none;
    color: #6a7376;
}

.flex-item-filter-focus {
    background-color: #E3E6E8 !important;
    color: #3B4045;

}

.wrapper-content {
    border-top: 1px solid hsl(210,8%,85%);
    
}

.question-mini-list {
    overflow: auto;
    margin-bottom: 30px;
}
.question-summary {
    width: 100%;
    padding-left: 8px;
    box-sizing: border-box;
    display: flex;
    padding: 12px 8px;
    float: none;
    overflow: hidden;
    border-bottom: 1px solid hsl(210,8%,85%);
}
.cp {
    float: none;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    margin-right: 0;
    padding: 0 8px 0 0;
    box-sizing: content-box;
    flex-shrink: 0;
    vertical-align: top;
}

.summary {
    flex: 1 auto;
    width: auto;
    float: none;
    margin: 0;
    overflow: hidden;
}

.votes {
    display: inline-block;
    height: 38px;
    min-width: 38px;
    margin: 0 3px 0 0;
    color: hsl(210,8%,55%);
    padding: 6px;
    text-align: center;
    line-height: 1;
    margin-bottom: 4px;
}
.status-answer {
    display: inline-block;
    height: 38px;
    min-width: 38px;
    margin: 0 3px 0 0;
    color: hsl(210,8%,55%);
    padding: 6px;
    text-align: center;
    line-height: 1;
    margin-bottom: 4px;
}
.views {
    display: inline-block;
    height: 38px;
    min-width: 38px;
    margin: 0 3px 0 0;
    color: hsl(210,8%,55%);
    padding: 6px;
    text-align: center;
    line-height: 1;
    margin-bottom: 4px;
}
h3 {
    margin: 0px;
    padding: 0px;
}
.summary h3 {
    margin-bottom: 4px;
}
.summary h3 a {
    font-size: 1.30769231rem;
    font-weight: 400;
    color: #0074CC;
}


.summary-tags {
    display: flex;
    justify-content: space-between;
    margin-top: 4px;
}

.time-owner {
    flex: 1;
}
.time-owner span {
    float: right;
}

.post-tags {
    line-height: 1;
    border-color: #ffffff;
    white-space: nowrap;
    text-decoration: none;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    padding: 4px 6px;
    color: #39739D;
    background-color: #E1ECF4;
    margin-right: 3px;
}



/**
==================================Sidebar========================
**/
.sidebar {
    float: right;
    width: 300px;
    margin: 0px;
    margin-left: 24px;
}
.sidebar .sidebar-header {
    margin-bottom: 16px !important;
    border-color: #f1e5bc;
    background-color: #fdf7e2;
    position: relative;
    /* border: 1px solid #d6d9dc; */
    border-radius: 3px;
    /* box-shadow: var(--bs-sm); */
    /* box-shadow: 1px 1px 1px 1px; */
    font-size: 13px;
    padding-bottom: 10px;
    box-shadow: 0px 0px 1.5px #000000;
}

.header-sidebar {
    border-color: #fbf3d5 !important;
    font-size: 14px;
    font-weight: bold;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #6a737c !important;
    border-bottom-style: solid !important;
    border-bottom-width: 1px !important;
    padding: 12px 15px;
    border-top: 1px solid #e3e6e8;
    background-color: #fbf3d5 !important;
}
.sidebarwidget {
    display: flex;
    padding: 0 16px;
    margin: 12px 0px;
    background-color: #fdf7e2 !important;
}
.sidebarwidget i {
    margin-right: 8px;
    font-size: 10px;
}
.sidebarwidget div {
    font-size: 14px;
}

.sidebar-custom-filter {
    border: 1px solid #d6d9dc;
    border-radius: 3px;
    box-shadow: 0 0 0.5px #000000;
    margin-bottom: 20px;
}

.sidebar-widget-header {
    display: flex;
    padding: 12px 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #f8f9f9 !important;
}
.sidebar-widget-content {
    display: flex;
    flex-wrap: wrap;
    padding: 16px 15px;
    border-top: 1px solid #e3e6e8;
}

.bottom-notice {
    margin-top: 15px;
    padding: 0 10px 0 0;
    line-height: 1.4;
    font-size: 1.30769231rem;
    font-weight: 400;
}
h2 a {
    color: #0074CC;
}


/*** ==============================FOOTER=================****/

.footer {
    background-color: #232629;
    box-sizing: border-box;
    /* position: fixed;
    bottom: 0px; */
}
.footer-container {
    max-width: 1264px;
    width: 100%;
    margin: 0 auto;
    padding: 32px 12px 12px 12px;
    display: flex;
    flex-flow: row wrap;
    box-sizing: border-box;
}
.site-footer-logo i {
    font-size: 40px;
    color: #d48a29;
    
}

.site-footer-logo {
    flex: 0 0 64px;
    margin: -12px 0 32px 0;
}

.site-footer-nav {
    display: flex;
    flex: 2 1 auto;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.site-footer-copyright {
    flex: 1 1 150px;
    display: flex;
    flex-direction: column;
}

.site-footer-col {
    padding: 0 12px 24px 0;
    flex: 1 0 auto;
    box-sizing: border-box;
}
.title-footer {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 12px;
    line-height: 1.30769231;
    max-width: 230px;
    color: #babfc4;
    box-sizing: border-box;
}
.footer-links {
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}
.footer-links a {
    padding: 4px 0;
    line-height: 1.30769231;
    display: inline-block;
    text-decoration: none;
    color: #838c95;
}
ul {
    margin: 0px;
    padding: 0px;
}
h5 {
    margin: 0px;
    padding: 0px;
}
.tag-flex {
    display: flex;
    /* justify-content: space-between; */
}

.input_tag{
    margin-bottom: 20px;
}

.background-tagg {
    background-color: #fdf7e2!important;
}
.tag {
    background-color: #fdf7e2!important;
}